<form action="/push" method="post" accept-charset="utf-8" autocomplete="off">
<label>走った時間</label>
<br>
<input type="text" size="10" name="hour" id="hour">時間
<input type="text" size="10" name="minute" id="minute">分
<input type="text" size="10" name="second" id="second">秒
<br>
<br>
<label>走った距離</label>
<br>
<input type="text" size="10" name="km" id="km">.
<input type="text" size="10" name="m" id="m">km
<input type="submit" value="push">
</form>
